body{
	background-color: black;
}

#header{
	color: white;
	text-align: center;
}

.die{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: inline-block;
	background-color: white;

	text-align: center;
	vertical-align: center;
	border-style: solid;
	border-color: black;
	border-width: 2px;

	margin-right: 20px;
}

.dice{
	
}

#p1{
	background-color: lightblue;
}

.Wins{
	background-color: white;
	width: 100%;
	height: 40px;
}

#p2{
	background-color: red;
}

p{
	vertical-align: center;
}